*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, Arial;
}

body{
background:#1f2933;
color:#e4e7eb;
}
/* Centraliza o Login e garante que ele ocupe a tela toda se não estiver escondido */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #111827; /* Fundo sólido para não ver o sistema atrás */
    position: fixed;     /* Fixa na tela */
    top: 0;
    left: 0;
    z-index: 999;        /* Garante que fica na frente de tudo */
}

.login h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    color: #3b82f6;
}

/* APP LAYOUT */

#app{
display:flex;
height:100vh;
}

/* MENU LATERAL */

aside{
width:230px;
background:#111827;
padding:25px;
display:flex;
flex-direction:column;
}

aside h2{
margin-bottom:30px;
font-size:22px;
}

aside button{
background:none;
border:none;
color:#9ca3af;
text-align:left;
padding:12px;
margin-bottom:5px;
cursor:pointer;
border-radius:6px;
font-size:15px;
}

aside button:hover{
background:#374151;
color:white;
}

/* ÁREA PRINCIPAL */

main{
flex:1;
padding:40px;
}

/* TITULOS */

h2{
margin-bottom:25px;
}

/* CARDS */

.cards{
display:flex;
gap:25px;
}

.card{
background:#111827;
padding:25px;
border-radius:10px;
width:180px;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
transition:0.2s;
}

.card:hover{
transform:translateY(-5px);
}

.card h3{
font-size:30px;
margin-bottom:10px;
}

/* FORMULÁRIOS */

input,select{
width:260px;
padding:10px;
margin-bottom:12px;
border:none;
border-radius:6px;
background:#374151;
color:white;
}

button{
background:#3b82f6;
border:none;
padding:10px 20px;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#2563eb;
}

/* TABELA */

table{
width:100%;
border-collapse:collapse;
background:#111827;
border-radius:10px;
overflow:hidden;
}

th{
background:#1f2937;
padding:12px;
text-align:left;
}

td{
padding:12px;
border-bottom:1px solid #374151;
}

tr:hover{
background:#1f2937;
}

/* STATUS */

.ok{
color:#22c55e;
font-weight:bold;
}

.pendente{
color:#f59e0b;
font-weight:bold;
}

/* ESCONDER */

.hidden{
display:none;
}
